 <header>
    <div class="container header_div">
      <div class="page-header head">

        <h1>Register</h1>

      </div>
    </div>
  </header>

  <div class="container center_div">
    <form (submit)="onRegisterSubmit()" method="post">
          <div class="form-group">
            <label>Username</label>
              <input type="text" class="form-control" id="userName" placeholder = "Enter username" name="username" [(ngModel)] = "username">
          </div>

          <div class="form-group">
            <label>Password</label>
            <input type = "password" class="form-control" aria-describedby="passwordHelp" placeholder = "Enter password" name="password" [(ngModel)] = "password">
            <small id="passwordHelp" class="form-text text-muted">Please include a mix of upper-case and lower-case letters</small>
          </div>

          <div class="form-group">
            <label>Contact name</label>
            <input type="text" class="form-control" id="contactName" placeholder = "Enter contact name" name="contactName" [(ngModel)] = "contactName">
          </div>

          <div class="form-group">
            <label>Contact phone number</label>
            <input type = "text" class="form-control" placeholder = "Enter contact phone number" name="contactNumber" [(ngModel)] = "contactNumber">
          </div>


          <label for="contactRelationship">Relationship to contact</label>
          <select class="form-control" id="contactRelationship" name="relationshipToContact" [(ngModel)]="relationshipToContact">
            <option>Mother</option>
            <option>Father</option>
            <option>Grandmother</option>
            <option>Grandfather</option>
          </select>
          <br/>
          <div class="form-check">
            <input type="checkbox" class="form-check-input" name="elderly" [(ngModel)]="elderly">
            <label class="form-check-label">I am elderly</label>
          </div>
          <br/>

          <button type="submit" class="btn btn-primary">Submit</button>

    </form>
  </div>

